<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
	<title>Exchange Tool</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>

	<div id="exchange">

		<h3> CURRENCY: {{ exg }}</h3>

		<div>
			<ul>
				<li v-for="(rate, currency) in rates"><button type="button" class="btn btn-outline-primary" @click="changeExchangeRate($event)" v-bind="{ id: currency}">{{ currency }}</button>: {{ rate }}</li>
			</ul>
		</div>

		<h3> Exhange Calculator:</h3>

		<div class="conatiner-sm">

			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selectedFromCurrency }}</button>
			    <div class="dropdown-menu">
			      <button class="dropdown-item" @click="updateFromCurrency($event)" v-for="(rate, currency) in rates">{{ currency }}</button>
			    </div>
			  </div>
			  <input type="text" class="form-control" aria-label="Text input with dropdown button" v-bind="{ value: inputAmount }" @input="inputChanged($event)">
			</div>

			<div class="input-group">
			  <input type="text" class="form-control" aria-label="Text input with dropdown button" disabled="true" v-bind="{ value: outputAmount }">
			  <div class="input-group-append">
			    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selectedToCurrency }}</button>
			    <div class="dropdown-menu">
			      <button class="dropdown-item" @click="updateToCurrency($event)" v-for="(rate, currency) in rates">{{ currency }}</button>
			    </div>
			  </div>
			</div>
			
		</div>

	</div>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>