 body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
  }

  .btn-outline-primary {
    width: 60px;
  }
  
  .disabledButton {
    background-color: #d8d8d8;
  }

  .input-group {
    margin-bottom: 20px;
  }
  
  .review-form {
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #d8d8d8;
  }
  
  textarea {
    width: 100%;
    height: 60px;
  }

  .tab {
    margin-left: 20px;
    cursor: pointer;
  }

  .activeTab {
    color: #16C0B0;
    text-decoration: underline;
  }